<div class="container">
    <div class="ms-5 mb-6">
        <div class="ortabas mt-4 ">
            <div class="mx-2 mt--">
                <a href="/home/index" class="font-400 fs14 color333 ">
                    Ana Sayfa
                </a>
            </div>
            <div class="mx-2 mt--1">
                <i class="fa-solid fa-angle-right fa-xs" style="color: #96999d;"></i>
            </div>
            <div class="mx-2">
                <p class="text-black font-400 fs14">
                    Hakkımızda
                </p>
            </div>
        </div>
        <p class="font-800 fs36  mt-3">Hakkımızda</p>
        <p class="font-400 fs24 coloblue my-5">İstediğin marka su, istediğin saatte, bi'dolu promosyonla, tek tuşla kapında!</p>
        <p class="font-400 fs18 color333">
            Bazen su siparişi vermek istersin ama hatırladığında, artık çok geçtir!<br />
            Bazen telefonda teslimat bilgilerini tekrarlayarak zaman kaybetmek istemezsin ya da sadece kullandığın markayı değiştirmek istersin.<br />
            Bazen taşınırsın ve su bayisi bulmak beklediğinden zor olur.<br />
        </p>
        <br />
        <p class="font-400 fs18 color333">
            BiSU ile bölgene hizmet veren tüm markaları görebilir,<br />
            İstediğin markadan cam, damacana ve pet su siparişini tek tuşla verebilirsin.<br />
            Üstelik, teslimat zamanını da kendine göre ayarlayabilirsin.<br />
            <span class="kalin">Kapıda ödeme</span>dışında,<span class="kalin">kredi kartı, BKM Express</span> ve <span class="kalin">Hopi Paracık</span>'larla da ödeyebilirsin.<br />
            Mobil ödeme anlaşmalı markalarda geçerlidir.<br />
        </p>
        <br />
        <p class="font-400 fs18 color333">
            BiSU şimdilik sadece İstanbul, Ankara, İzmir, Konya, Bursa, Antalya, Kocaeli, Adana, Eskişehir, Tekirdağ, Denizli, Balıkesir, Mersin, Muğla, Manisa,<br />
            Sakarya, Çanakkale, Edirne, Isparta, Bolu, Zonguldak, Gaziantep, Malatya, Ordu, Karabük, Samsun, Kayseri, Yalova, Afyonkarahisar, Düzce, Aydın,<br />
            Şanlıurfa, Kütahya, Kırklareli, Diyarbakır, Burdur, Uşak, Sivas, Bartın, Karaman, Bilecik, Tokat, Kastamonu, Kırıkkale, Niğde, Trabzon, Amasya, Yozgat,<br />
            Giresun, Muş ve Hatay'da hizmet vermektedir.
        </p>
        <br />
        <p class="font-400 fs18 color333">
            <span class="kalin">Ticari bilgilerimiz:</span><br />
            Tektuş Sipariş Sistemleri Gıda San. ve Tic. A.Ş.<br />
            Koşuyolu Mh. Mahmut Yesari Cad. No:8 34718 Kadıköy/İstanbul<br />
            Kadıköy Vergi Dairesi 8360456712<br />
            Ticaret Sicil No: 25572-5<br />
            Mersis No: 0836045671200013<br />
            Mail: <span class="pointer coloblue">destek@bisu.com.tr</span><br />
            Tel : 0 850 202 6238<br />
        </p>
    </div>


</div>
