<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6">
            <img class="w-100 mt-6" src="~/img/index/mockup-final.png" />
        </div>
        <div class="col mobilbaglanti myx">
            <div class="d-flex myx">
                <img class="me-3" src="~/img/index/google-play-badge.png" />
                <img class="" src="~/img/index/appstoreblack.svg" />
            </div>
        </div>
    </div>
    <p class="coloblue mt240 font-400 fs52 text-center">BiSU Hızlı Teslimat ile market alışverişin</p>
    <p class="color333 my- font-800 fs52 text-center">her daim toptan fiyatına anında kapında!</p>
</div>
<div class="bgresim">
    <div class="container">
        <div class=" myx">
            <div class="row">
                <div class="col-5">
                    <img class=" mt-6 ms-5" src="~/img/index/mockup-4-final.png" />
                </div>
                <div class="col-7 ortala ">
                    <div class="mt-6">
                        <p class="font-400 fs50 coloblue text-start">
                            Su Siparişin,Market Alışverişin
                        </p>
                        <br />
                        <p class="font-800 fs50 color333 text-start">
                            Toptan fiyatına,anında kapında!
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="acikbeyaz mt-5 ">
    <div class="mb-4 py-7">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-2 su ">
                <img class="" src="~/img/bisu/sol.svg" />
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-2"></div>

                    <div id="bisunedir" class="col-4">
                        <img src="~/img/dragableimg/indir (3).png" />
                    </div>
                    <div class="col-6 my-auto">
                        <p class="font-600 fs24 coloblue"> İster su, ister market alışverişinde </p>
                        <p class="font-800 fs36 lineheight2"> Onlarca marka<br /> BiSU’da</p>
                    </div>


                </div>
            </div>
            <div class="col-2 ortabas">
                <img src="~/img/bisu/sag.svg" />
            </div>
            <div class="col-1"></div>
        </div>
    </div>
    <div class="row pb-3">
        <div class="col ortalama">
            <img class="mx-1" src="~/img/dragableimg/indir (3).svg" />
            <div class="yuvarlak2 mx-1"></div>
            <div class="yuvarlak2 mx-1"></div>
            <div class="yuvarlak2 mx-1"></div>
            <div class="yuvarlak2 mx-1"></div>
            <div class="yuvarlak2 mx-1"></div>
        </div>
    </div>
</div>
<div class="container my-5">
    <div class="row ">
        <div class="col-3 bg-white">
            <img class="" src="~/img/index/bi-ri-full123.png" />
        </div>
        <div class="col-8 renkkoyumavi d-fex justify-content-center">
            <div class="row">
                <div class="col-4">
                </div>
                <div class="col-5 mt-6">
                    <p class="acikrenktext font-400 fs-22">
                        BiSU Hızlı Teslimat ile evinin+
                        ne ihtiyacı varsa toptan fiyatına geliyo!
                    </p>
                    <p class="font-800 fs25 text-white">
                        BiSU Hızlı Teslimat ile alışveriş yap sen de kar et!
                    </p>
                    <p class="font-400 fs18 text-white">
                        Şimdilik sadece İstanbul’da. Çok yakında tüm Türkiye’de!
                    </p>
                    <button type="button" class="fs16 border-0 pointer radius py-2 w-100 font-700 renkkoyu bg-white">DETAYLI BİLGİ</button>
                </div>
                <div class="col-3"></div>
            </div>
        </div>
    </div>
</div>
<div class="baloncugng">
    <div class="container">
        <div class=" row ">
            <div class="col-12 mt-5">
                <div class="row">
                    <div class="col-4">
                    </div>
                    <div class="col-3 mt-4">
                        <div class=" text-end lineheight">
                            <p class="font-400 renkkoyu  fs18">Damacana sudan bebek bezine</p>
                            <p class="color333 font-700 fs30">7 gün 24’e kadar evinin ne ihtiyacı varsa 30 dakikada kapında!</p>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="kare bg-white border-1  bax_sadow ortalama">
                            <img class="" src="~/img/index/doblo2.svg" />
                        </div>

                    </div>
                    <div class="col-2">
                    </div>
                </div>
            </div>

        </div>

        <div class=" row ">
            <div class="col-12 mt-5">
                <div class="row">
                    <div class="col-1">
                    </div>
                    <div class="col-3">
                        <div class="kare bg-white border-1  bax_sadow ortalama">
                            <img class="" src="~/img/index/star.svg" />
                        </div>
                    </div>
                    <div class="col-6 d-flex align-items-center">
                        <div class=" text-start lineheight">
                            <p class="font-400 renkkoyu  fs18">Fırsatları Kaçırma</p>
                            <p class="color333 font-700 fs30">Onlarca kampanya ve sana özel indirimlerle hesaplı alışveriş keyfi!</p>
                        </div>
                    </div>

                    <div class="col-2">
                    </div>
                </div>
            </div>

        </div>
        <div class=" row  pb-5">
            <div class="col-12 mt-5">
                <div class="row">
                    <div class="col-3">
                    </div>
                    <div class="col-4 mt-5">
                        <div class=" text-end lineheight">
                            <p class="font-400 renkkoyu  fs18">Temel Gıda, Atıştırmalık, Temizlik, Kişisel Bakım</p>
                            <p class="color333 font-700 fs30">Onlarca çeşit ürün,toptan fiyatına BiSU Hızlı Teslimatta!</p>
                        </div>
                    </div>
                    <div class="col-3 ">
                        <div class="kare bg-white border-1  bax_sadow ortalama">
                            <img class="" src="~/img/index/urunler.svg" />
                        </div>

                    </div>
                    <div class="col-2">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="d-flex justify-content-between">
        <div class="ms-3 ">
            <p class="font-700 text-start fs24 color333 mt-6">Öne Çıkan Kampanyalar</p>
        </div>
        <div class="mt-6">
            <img class=" me-3 pointer" src="~/img/bisu/sol.svg" />
            <img class=" pointer" src="~/img/bisu/sag.svg" />
        </div>
    </div>
    <div class="d-flex ">
        <div>
            <img class="border-radius1 m-3 imgsize" src="~/img/bisu/indir.jpg" />
        </div>
        <div>
            <img class="border-radius1 m-3 imgsize" src="~/img/bisu/indir (1).jpg" />
        </div>
        <div>
            <img class="border-radius1 m-3 imgsize" src="~/img/bisu/indir (2).jpg" />
        </div>
    </div>
    <button type="button" class="ms-2 my-4 border-0 py-3 px-5 btn-primary coloblue font-700 border-radius fs16 text-white">TÜM KAMPANYALAR VE DUYURULAR</button>
</div>
<div class="acikbeyaz ">
    <div class="container">
        <div class="row py6">
            <div class="col-6  ms-">
                <img src="~/img/index/unicef-img-with-canvas.png" />
            </div>
            <div class="col-6 ms-5">
                <img class="mt-4" src="~/img/index/logolar-bisu-unicef.svg" />
                <p class="font-400 fs30 mt-6 lineheight color333">HER YUDUMUN</p>
                <p class="font-800  sari fs46">MİLYONLARCA UMUT OLDU!</p>
                <hr class="coloblue" />
                <p class=" font-400 fs18">BiSU’dan verilen her bir su siparişi için kullanıcılarımızın adına UNICEF’e bağışta bulunarak 1 çocuğun günlük su ihtiyacını karşıladık ve <span class="kalin">toplam 27 milyon çocuğa sizlerle birlikte umut olduk.</span></p>
                <button class=" btn-bg btn-border py-15 fs14 font-700 px-6 btn-c">DevamınıOku <i class="fa-solid fa-angle-right "></i></button>
            </div>
        </div>
    </div>
</div>
<div class="bg-su">
    <div class="container">
        <div class="py-7">
            <p class="font-400 text-center lineheight fs60 ">Bölgende varsa</p>
            <p class="font-800 text-white lineheight text-center fs60">BiSU'yla kapında!</p>
        </div>


        <div id="marka" class="d-flex flex-wrap">
            <div class="">
                <div class="marka ortalama borderbox ortalama m-4 ">
                    <div class=" ">
                        <img src="~/img/markalar/erikli.png" />
                    </div>
                </div>
            </div>

            <div class="">
                <div class="marka ortalama borderbox m-4 ">
                    <div class=" ">
                        <img src="~/img/markalar/asya.png" />
                    </div>
                </div>
            </div>
            <div class="">
                <div class="marka ortalama borderbox m-4 ">
                    <div class=" ">
                        <img src="~/img/markalar/assu.png" />
                    </div>
                </div>
            </div>
            <div class="">
                <div class="marka ortalama borderbox m-4">
                    <div class="">
                        <img src="~/img/markalar/elmacik.png" />
                    </div>
                </div>
            </div>
            <div class="">
                <div class="marka ortalama borderbox m-4">
                    <div class="">
                        <img src="~/img/markalar/saka-logo.jpg" />
                    </div>
                </div>
            </div>
            <div class="">
                <div class="marka ortalama borderbox m-4">
                    <div class="">
                        <img src="~/img/markalar/hamidiye-logo.jpg" />
                    </div>
                </div>
            </div>
            <div class="">
                <div class="marka ortalama borderbox m-4">
                    <div class="">
                        <img src="~/img/markalar/hayat-logo.jpg " />
                    </div>
                </div>
            </div>
            <div class="">
                <div class="marka ortalama borderbox m-4">
                    <div class="">
                        <img src="~/img/markalar/sirma-logo.jpg" />
                    </div>
                </div>
            </div>
            <div class="">
                <div class="marka ortalama borderbox m-4">
                    <div class="">
                        <img src="~/img/markalar/damla-logo.jpg" />
                    </div>
                </div>
            </div>
            <div class="">
                <div class="marka ortalama borderbox m-4">
                    <div class="">
                        <img src="~/img/markalar/buzdagi-logo.jpg" />
                    </div>
                </div>
            </div>
            <div class="">
                <div class="marka ortalama borderbox m-4">
                    <div class="">
                        <img src="~/img/markalar/fuska-logo.jpg" />
                    </div>
                </div>
            </div>
            <div class="">
                <div class="marka ortalama borderbox m-4">
                    <div class="">
                        <img src="~/img/markalar/korusu-logo.jpg" />
                    </div>
                </div>
            </div>
            <div class="">
                <div class="marka ortalama borderbox  m-4">
                    <div class="">
                        <img src="~/img/markalar/sultan-logo.jpg" />
                    </div>
                </div>
            </div>
            <div class="">
                <div class="marka ortalama borderbox m-4">
                    <div class="">
                        <img src="~/img/markalar/taskesti-logo.jpg" />
                    </div>
                </div>
            </div>
            <div class="">
                <div class="marka ortalama borderbox m-4">
                    <div class="">
                        <img src="~/img/markalar/akpinar-logo.jpg" />
                    </div>
                </div>
            </div>
            <div class="">
                <div class="marka ortalama borderbox m-4">
                    <div class="">
                        <img src="~/img/markalar/abant120x120.png" />
                    </div>
                </div>
            </div>
        </div>
        <center class=" py-4"><button type="button" class=" my-4 border-0 py-15 bg-white coloblue font-700 bttn">TÜM MARKALAR</button></center>
    </div>
</div>
