<div class="container">
    <div class="ms-5 mb-6">
        <div class="ortabas mt-4 ">
            <div class="mx-2 mt--">
                <a href="/home/index" class="font-400 fs14 color333">
                    Ana Sayfa
                </a>
            </div>
            <div class="mx-2 mt--1">
                <i class="fa-solid fa-angle-right fa-xs" style="color: #96999d;"></i>
            </div>
            <div class="mx-2">
                <p class="text-black font-400 fs14">
                    Müşteri Aydnlatma Metni
                </p>
            </div>
        </div>
        <p class="font-800 fs36  mt-3">Müşteri Aydınlatma Metni</p>
        <p class="font-400 fs24 coloblue my-5">TEKTUŞ SİPARİŞ SİSTEMLERİ GIDA SAN. VE TİC. ANONİM ŞİRKETİ - BiSU / Bi’ MARKET KULLANICILAR / MÜŞTERİLERİNE İLİŞKİN - KİŞİSEL VERİLERİN İŞLENMESİ AYDINLATMA METNİ</p>
        <p class="font-400 fs18 color333">
            <span class="kalin"> 1) Aydınlatma Yükümlülüğü</span> 6698 sayılı Kişisel Verilerin Korunması Kanunu’nun (“Kanun”) 10. Maddesi uyarınca, veri sorumlusu kişisel verilerin elde edildiği esnada veri sahibi kişileri şu hususlarda aydınlatmakla yükümlüdür:
        </p>
        <br />
        <p class="font-400 fs18 color333">
            Veri sorumlusunun kimliği,
        </p>
        <br />
        <p class="font-400 fs18 color333">
            • Kişisel verilerin hangi amaçla işleneceği,
        </p>
        <br />
        <p class="font-400 fs18 color333">
            • İşlenen kişisel verilerin kimlere ve hangi amaçla aktarılabileceği,
        </p>
        <br />
        <p class="font-400 fs18 color333">
            • Kişisel veri toplamanın yntemi ve hukuki sebebi,
        </p>
        <br />
        <p class="font-400 fs18 color333">
            • Veri sorumlusunun 11. Maddede sayılan hakları
        </p>
        <br />
        <p class="font-400 fs18 color333">
            Bu itibarla, işbu Aydınlatma Metni ile, Kanun’un 10. Maddesindeki yükümlülüklerimiz kapsamında yukarıda sıralanan başlıklar
            hakkında bilgilendirileceksiniz.Mobil uygulamamız ve mobil uygulamamızla sunulan hizmetleri kullanmaya başlamadan önce
            Aydınlatma Metni’ni dikkatlice okuyunuz.
        </p>
        <br />
        <br />
        <p class="font-400 fs18 color333">
            <span class="kalin">2) Veri Sorumlusu</span>
        </p>
        <br />
        <p class="font-400 fs18 color333">
            Değerli müşterimiz, kişisel verileriniz veri sorumlusu sıfatıyla Tektuş Sipariş Sistemleri Gıda San. ve Tic. Anonim Şirketi (“Şirket” veya “BiSU”) tarafından Kanun uyarınca aşağıda açıklanan kapsamda işlenebilecektir.
        </p>
        <p class="font-400 fs18 color333">
            BiSU tarafından kişisel verilerin korunmasına büyük önem verilmekte; hukuka ve dürüstlük kurallarına uygun, amaca bağlı, doğru ve güncel, ölçülü ve şeffaf şekilde veri işleme faaliyetlerinin sürdürülmesine gayret edilmektedir.
        </p>

        <br />
        <p class="font-400 fs18 color333">
            <span class="kalin">3) Kişisel Verilerin Hangi Amaçla İşleneceği</span>
        </p>
        <br />
        <p class="font-400 fs18 color333">
            Kişisel verileriniz, Kanun’un 5. Maddesinde belirtilen kişisel işleme şartları ve amaçları dahilinde aşağıda sıralanan amaçlarla ilenebilecektir:
        </p>
        <p class="font-400 fs18 color333 lineheight29">
            • Müşteri ilişkilerinin yönetimi süreçleri, süreçlerin planlanması ve icrası,<br /><br />

            • Müşteri memnuniyeti/tecrbesine (beğeni, kullanım alışkanlıkları, ihtiyaçlar) yönelik aktivitelerin planlanması,,<br /><br />

            • Şirketimiz tarafından sunulan hizmeti tanıtmak ve iletişimi artırmak,<br /><br />

            • Promosyon, tanıtım, kampanyalar hazırlamak ve bunları kişiselleştirilmiş şekilde müşterilere sunmak ve yeni hizmet, ürün tanıtımı,<br />

            • Şirket ve Şirket ile ilişki içerisinde olan 3.kişierin hukuki, teknik ve ticari iş güvenliğini temin etmek,<br /><br />

            • Müşterinin uygulama içindeki gezintileri, alşverişleri ve kaydedilen favori tarif ve menülerin listesi aracılığıyla kişiselleştirilmiş alışveriş hizmeti sunulması (davranışsal reklamcılk) ve müşterilere daha iyi bir alışveriş deneyimi sunulması,

            • Talep(sipari), teklif, değerlendirme, bütçelendirme, sözleşme süreçlerinin icrası,<br /><br />

            • şlenen kişisel verilerin kimlere ve hangi amaçla aktarılabileceği,<br /><br />

            • Aracı hizmet sağlayıcı sıfatıyla, teslim edilecek ürün hakkındaki bilgilerin satıcı tarafından siparişe uygun olarak hazırlanması ve taahhüt edilen süre içerisinde doğru kişi ve doğru lokasyona ulaşmasının temini için süreçlerin kurgulanması ve tedarikçi ile iletişim kurulması,

            • Müşteri portföyü oluşturmak iin kişisel verilerin arşivlenmesi,<br /><br />

            • İş sürekliliğinin sağlanması ve faaliyetlerin yürütülmesi,<br /><br />

            • Finans ve muhasebe işlerinin yürütülmesi,<br /><br />

            • Ticari ve iş stratejilerinin planlanması ve icrası,<br /><br />

            • İnternet sitesinin ve mobil uygulamanın iyileştirilmesi ve geliştirilmesi,<br /><br />

            • Sözleşmeler uyarınca üstlenilen yükümlülüklerin ifası,<br /><br />

            • Ürün satış süreçlerinin ve operasyonların planlanması ve icrası,<br /><br />

            • Satış sonras destek hizmetleri aktivitelerinin planlanması ve icrası,<br /><br />

            • Müşteri talep ve ikayetlerinin takibi ile müşteri destek hizmetlerinin gereği gibi icrası,<br /><br />

            • Ürünlerin satış ve pazarlamas için araştırma faaliyetleri, stratejilerin planlanması ve icrası,<br /><br />

            • Şirketin operasyonel risk süreçlerinin planlanması ve icrası,<br /><br />

            • Operasyonların güvenliğinin temini,<br /><br />

            • Finansal risk süreçlerinin planlanması ve icrası,<br /><br />

            • İşlem ve bilgi güvenliğinin sağlanması ve dijital altyapıların işletilmesi,<br /><br />

            • Veri güvenliğinin salanması,<br /><br />

            • Hukuki Operasyonların Takibi,<br /><br />

            • Verilerin doğacak uyuşmazlıklardaki delil mahiyeti,<br /><br />

            • Mobil uygulamanın müşteriyi tanıması ve bu yolla uygulama kullanımının alşveriş tecrübesinin kolaylatırılması<br /><br />
        </p>
        <br />
        <p class="font-400 fs18 color333 lineheight29 kalin">
            4) İşlenen Kişisel Verilerin Kimlere ve Hangi Amaçla Aktarılabilecei
        </p>
        <br />
        <p class="font-400 fs18 color333 lineheight29 ">
            Kişisel verileriniz; 3. Maddede sıralanan amaçların gerçekleştirilmesi doğrultusunda ve bu amaçlar ile sınırlı olmak üzere aşağda sıralanan kişilere aktarılabilmektedir.
        </p>
        <br />
        <p class="font-400 fs18 color333 lineheight29 ">
            Şirketimiz, dijital ortamda pazarlama ve satış hizmeti vermekte, dijital altyapıların işletilmesi farklı hizmet sağlayıcılarla veri akışını zaruri kılmaktadır. Şirketimiz, bütçe ve imkanlarıyla veri akışını asgari düzeye almayı ilke edinmiş olup, iyileştirme çalımalarına Kanun’un yürürlüğe girdiği 7 Nisan 2018’den bu yana devam etmektedir.
        </p>
        <br />
        <p class="font-400 fs18 color333 lineheight29 ">
            Halihazırda, kişisel verileriniz;
        </p>
        <br />
        <p class="font-400 fs18 color333 lineheight29 ">
            • Hissedarlarımızla,
        </p>
        <br />
        <p class="font-400 fs18 color333 lineheight29 ">
            • İş ortaklarımızla,
        </p>
        <br />
        <p class="font-400 fs18 color333 lineheight29 ">
            Satış sözleşmesi ile üstlendiğimiz yükümlülüklerimiz kapsamında tedarikçilerimizle,
        </p>
        <br />
        <p class="font-400 fs18 color333 lineheight29 ">
            • Bilişim alt yapımızı sağlayan, işleten ve/veya hizmet sunan iş ortaklarmızla,
        </p>
        <br />
        <p class="font-400 fs18 color333 lineheight29 ">
            • Ürün/hizmet karşılaştırma, analiz, değerlendirme, reklam ve 3. Maddede belirtilen amaçların gerçekleştirilmesinde hizmet aldğımız, işbirliği yaptığmız gerçek veya tüzel kişilere, program ortağı kurum ve kuruluşlara, müşterilerimize gönderdiğimiz iletilerin gönderilmesi konusunda anlaşmalı olduğumuz kurumlarla,
        </p>
        <br />
        <p class="font-400 fs18 color333 lineheight29 ">
            • Siparişinizin zamanında, eksiksiz ve doğru lokasyona ulamasını sağlamak için sipariş verdiğiniz marka bayiliği ile,
        </p>
        <br />
        <p class="font-400 fs18 color333 lineheight29 ">
            • Mali müşavir/muhasebe hizmeti sunan iş ortaklarımızla,
        </p>
        <br />
        <p class="font-400 fs18 color333 lineheight29 ">
            • Kanunen yetkili kamu kurumları ve özel kişi veya kuruluşlar ile üçüncü kişilerle,
        </p>
        <br />
        <p class="font-400 fs18 color333 lineheight29 ">
            • Hukuki yükümlülüklerin yerine getirilmesi kapsamında avukatlar, denetçiler, adli bilişim uzmanları, siber güvenlik danışmanları, vergi danışmanları ile danışmanlık ve hizmet aldığımız diğer üüncü kişilerle,
        </p>
        <br />
        <p class="font-400 fs18 color333 lineheight29 ">
            Düzenleyici ve denetleyici kurumlar ile mahkeme ve icra müdürlükleri gibi sair resmi kurumlarla,
        </p>
        <br />
        <p class="font-400 fs18 color333 lineheight29 ">
            • Kişisel verilerinizi talep etmeye yetkili olan diğer kamu kurum veya kuruluşlarla,
        </p>
        <br />
        <p class="font-400 fs18 color333 lineheight29 ">
            • Bilgi güvenliğinin temini, hukuki ve teknik yükümlülüklerin yerine getirilmesi amacıyla bu alanda hizmet veren iş ortakları, adli bilişim uzmanları ve danışmanlarla,
        </p>
        <br />
        <p class="font-400 fs18 color333 lineheight29 ">
            Kanunun 5. maddesinde düzenlenen veri işleme şartları kapsamında Kanun’un 8. ve 9. maddelerine uygun olarak paylaşılabilecektir., program ortağı kurum ve kuruluşlara, müşterilerimize gönderdiğimiz iletilerin gönderilmesi konusunda anlaşmalı olduğumuz kurumlarla,
        </p>
        <br />
        <p class="font-400 fs18 color333 lineheight29 kalin ">
            5) Kişisel Veri Toplamanın Yöntemi ve Hukuki Sebebi
        </p>
        <br />
        <p class="font-400 fs18 color333 lineheight29 ">
            Kişisel verileriniz Şirketimiz ile aranızdaki ilişkinin yürütülmesi ve yukarıda sayılmış olan Amaçlar’ın yerine getirilmesi kapsamında; e-posta, telefon, çağrı merkezi, mobil uygulama, sosyal medya hesaplarımız, internet sitemizdeki çerezler aracılığıyla elektronik ortamda ve kargo/posta, matbu ormlar ile fiziki ortamda toplanmaktadır.
        </p>
        <br />
        <p class="font-400 fs18 color333 lineheight29 ">
            Şirketimiz, kişisel verilerinizi, Kanun’un 4. Maddesi uyarnca ve her halükarda, 5. Maddenin 2.fıkrasının a,c ve e bentlerinde belirtilen istisnai hallerin dışına çıkmamak koşuluyla;
        </p>
        <br />
        <p class="font-400 fs18 color333 lineheight29 ">
            • 5651 sayılı İnternet Ortamında Yapılan Yayınların Düzenlenmesi ve Bu Yayınlar Yoluyla İşlenen Suçlarla Mücadele Edilmesi Hakkında Kanun, 5809 sayılı Elektronik Haberleşme Kanunu ve 6698 sayılı Kişisel Verilerin Korunması Kanunu kapsamındaki bilgi güvenliği, siber güvenlik ve işlem güvenliği yükümlülüklerinin yerine getirilmesi, işlemlerin doğruluğunun, bütünlüğünün ve gizliliğinin sağlanması süreçlerinin yürütülmesi yükümlülükleri, 6098 sayılı Türk Borçlar Kanunu, 6102 sayılı Türk Ticaret Kanunu, Vergi Mevzuatının tacirlere atfettiği kayıt tutma ykümlülükleri kapsamında finans ve muhasebe işlerinin yürtülmesi, 6502 sayılı Tüketicinin Korunması Hakkında Kanun, 6563 sayılı Elektronik Ticaretin Düzenlenmesi Hakkında Kanun, 29188 sayılı Mesafeli Sözleşmeler Yönetmeliği kapsamında, kanunlarda açıkça öngörülmesi ve hukuki yükümlülüğümüzün yerine getirilmesi sebebine bağlı olarak;
        </p>
        <br />
        <p class="font-400 fs18 color333 lineheight29 ">
            • Ürün satış süreç ve operasyonlarının icrasında gerekli olan verileri, bir sözleşmenin kurulması veya ifasıyla doğrudan doğruya ilgili olması kaydıyla, sözleşmenin taraflarına ait kişisel verilerin işlenmesinin gerekli olması ve veri sorumlusunun hukuki yükmlülüğünü yerine getirebilmesi için zorunlu olması hukuki sebebine bağlı olarak;
        </p>
        <br />
        <p class="font-400 fs18 color333 lineheight29 ">
            • Hukuki süreçlerimizin takibi için toplanan kişisel verileri, Bir hakkın tesisi, kullanılması veya korunması iin veri işlemenin zorunlu olması hukuki sebebine dayalı olarak;
        </p>
        <br />
        <p class="font-400 fs18 color333 lineheight29 ">
            • İş süreçlerinin geliştirilmesi, markamızın tanıtılması, tanınırlğın artırılması, risklerin önlenmesi amacıyla toplanan kişisel verileri, İlgili kişinin temel hak ve özgürlüklerine zarar vermemek kaydıyla, veri sorumlusunun meşru menfaatleri için veri işlenmesinin zorunlu olması hukuki sebebine dayal olarak,
        </p>
        <br />
        <p class="font-400 fs18 color333 lineheight29 ">
            • Tarafınıza kişiselleştirilmiş reklamlar sunulması amacıyla toplanan uygulama ve web sitesi içindeki gezintiler, alışverişler ve kaydedilen favori tarif ve menüler ve diğer tecrübe verilerinizi açık rızanız ile toplar ve bu amacı gerçekleştirmek için hizmet aldığımız yurtiçi ve yurtdışındaki üçncü kişilerle açık rızanız ile paylaşırız; son olarak, işbu aydınlatma metninde sıralanan kişisel verilerinizi siber güvenliğinin sağlanması ve veri kayıplarının önlenmesi amaçlarıyla yurtdışındaki güvenli sunucularda açık rızanıza dayalı olarak saklarız.
        </p>
        <br />
        <p class="font-400 fs18 color333 lineheight29 kalin ">
            6) Kişisel Veri Sahibinin Kanun’un 11. Maddesinde Sayılan Hakları
        </p>
        <br />
        <p class="font-400 fs18 color333 lineheight29 ">
            Kişisel veri sahibi olarak Kanun’un 11. maddesi uyarınca aşağıdaki haklara sahip olduğunuzu bildiririz:
        </p>
        <br />
        <p class="font-400 fs18 color333 lineheight29 ">
            Bu kapsamda kişisel veri sahipleri;
        </p>
        <br />
        <p class="font-400 fs18 color333 lineheight29 ">
            Kişisel verilerinizin işlenip işlenmediğini öğrenme,
        </p>
        <br />
        <p class="font-400 fs18 color333 lineheight29 ">
            • Kişisel verileriniz işlenmişse buna ilişkin bilgi talep etme,
        </p>
        <br />
        <p class="font-400 fs18 color333 lineheight29 ">
            • Kişisel verileriniz işlenmişse buna ilişkin bilgi talep etme,
        </p>
        <br />
        <p class="font-400 fs18 color333 lineheight29 ">
            • Yurt içinde veya yurt dışında kişisel verilerinizin aktarıldığı üçüncü kişileri bilme,
        </p>
        <br />
        <p class="font-400 fs18 color333 lineheight29 ">
            • Kişisel verilerinizin eksik veya yanlış işlenmiş olması halinde bunların düzeltilmesini isteme ve bu kapsamda yapılan işlemin kişisel verilerinin aktarıldığı üçüncü kişilere bildirilmesini isteme,
        </p>
        <br />
        <p class="font-400 fs18 color333 lineheight29 kalin ">
            • Kanun ve ilgili diğer kanun hükümlerine uygun olarak işlenmiş olmasına rağmen, işlenmesini gerektiren sebeplerin ortadan kalkması halinde kişisel verilerinizin silinmesini veya yok edilmesini isteme ve bu kapsamda ve kişisel verilerinin eksik veya yanlış işlenmiş olması halinde yapılan işlemlerin kişisel verilerinizin aktarıldığı çüncü kişilere bildirilmesini isteme,
        </p>
        <br />
        <p class="font-400 fs18 color333 lineheight29 ">
            • İşlenen verilerinizin münhasıran otomatik sistemler vasıtasıyla analiz edilmesi suretiyle aleyhinize bir sonucun ortaya çıkmasına itiraz etme,
        </p>
        <br />
        <p class="font-400 fs18 color333 lineheight29 ">
            • Kişisel verilerinizin kanuna aykırı olarak işlenmesi sebebiyle zarara uğraması halinde zararın giderilmesini talep etmek. Yukarıda sıralanan haklarınıza yönelik başvurularınızı,<span class="coloblue pointer">BiSU Veri Sahibi Başvuru Formu</span> BiSU Veri Sahibi Başvuru Formu’nu doldurarak Şirket’e iletebilirsiniz. Talebinizin niteliğine göre en kısa sürede ve en geç otuz gün içinde başvurularınız ücretsiz olarak sonuçlandırılacaktır; ancak işlemin ayrıca bir maliyet gerektirmesi halinde Kişisel Verileri Koruma Kurulu tarafından belirlenecek tarifeye göre tarafınızdan ücret talep edilebilecektir.
        </p>
    </div>


</div>
