<div class="container">
    <div class="ms-5">
        <div class="ortabas mt-4 ">
            <div class="mx-2 mt--">
                <a href="/home/index" class="font-400 fs14 color333">
                    Ana Sayfa
                </a>
            </div>
            <div class="mx-2 mt--1">
                <i class="fa-solid fa-angle-right fa-xs" style="color: #96999d;"></i>
            </div>
            <div class="mx-2">
                <p class="text-black font-400 fs14">
                    Kampanyalar ve Duyurular
                </p>
            </div>
        </div>
        <p class="font-800 fs36  mt-3">Kampanyalar ve Duyurular</p>

        <div class="row  my-3 d-flex justify-content-start">
            <div class="col-4 boyuttcuk border-radius1 bordercuk  bax_sadow mx-3">
                <img class="boyuttcuk ms-- border-radius1" src="~/img/bisu/indir.jpg" alt="Card image cap">
                <div class="">
                    <p class="font-600 mt-3 fs14">10'lu Damacana Paketi 20 TL İndirimli.</p>
                    <p class="font-400 fs12"><small class="text-muted">Geçerlilik Tarihi: 12.12.2021 - 31.12.2023</small></p>
                </div>
            </div>
            <div class=" col-4 boyuttcuk bordercuk border-radius1 mx-3 bax_sadow">
                <img class=" boyuttcuk ms-- border-radius1" src="~/img/bisu/indir (1).jpg" alt="Card image cap">
                <div class="">
                    <p class="font-600 mt-3 fs14">BiSU & UNICEF'den çocuklara temiz su</p>
                    <p class="font-400 fs12"><small class="text-muted">Geçerlilik Tarihi: 15.12.2017 - 31.12.2023</small></p>
                </div>
            </div>
            <div class=" col-4 boyuttcuk bordercuk border-radius1 mx-3 bax_sadow">
                <img class="boyuttcuk ms-- border-radius1" src="~/img/bisu/indir (2).jpg" alt="Card image cap">
                <div class="">
                    <p class="font-600 mt-3 fs14">BiSU’dan İlk Siparişine Özel Damacana Suyun 10 TL İndirimli!</p>
                    <p class="font-400 lineheight  fs12"><small class="text-muted">Geçerlilik Tarihi: 17.01.2022 - 31.12.2022</small></p>
                </div>
            </div>
        </div>
        <center class="mb-6">
            <button type="button" class="fs16 mt-4 border-0 pointer radius buyukluk font-700 bgf1" style="color: #339af0;">Daha Fazla<i class=" ms-2 fa-solid fa-angle-down" style="color: #339af0;"></i></button>
        </center>
    </div>

</div>