<div class="container">
    <div class="ms-5 mb-6">
        <div class="ortabas mt-4 ">
            <div class="mx-2 mt-- ">
                <a href="/home/index" class="font-400 fs14 color333">
                    Ana Sayfa
                </a>
            </div>
            <div class="mx-2 mt--1">
                <i class="fa-solid fa-angle-right fa-xs" style="color: #96999d;"></i>
            </div>
            <div class="mx-2">
                <p class="text-black font-400 fs14">
                    Sıkça Sorulan Sorular
                </p>
            </div>
        </div>
        <p class="font-800 fs36  mt-3">Sıkça Sorulan Sorular</p>
        <p class="font-400 fs24 coloblue my-5">İstediğin marka su, istediğin saatte, bi'dolu promosyonla, tek tuşla kapında!</p>  
        <br />
        <p class="font-400 fs18 color333">
            BiSU, akıllı telefonun sayesinde tek tuşla su siparişi vermeye yarar.
        </p>
        <br />
        <p class="font-400 fs24 coloblue my-5">Neden BiSU uygulamasını kullanmalıyım?</p>
        <br />
        <p class="font-400 fs18 color333">
            Bazen üşenirsin, bazen sadece unutursun. Bazen bayiye ulaşamazsın, bazen zamanlamayı tutturamazsın. Eğer BiSU kullanmıyorsan su söylemek bazen çok zahmetlidir. BiSU sayesinde çevrendeki açk su bayilerini ve fiyatların görebilir, kendine en uygun markayı seçebilir, siparişini tek tuşla verebilirsin. Ayrıca BiSU ile teslimat zamanını da kendine göre ayarlayabilirsin.
        </p>
        <br />
        <p class="font-400 fs18 color333">
            Bazen su siparişi vermek istersin ama hatırladığında, artık çok geçtir!<br />
            Bazen telefonda teslimat bilgilerini tekrarlayarak zaman kaybetmek istemezsin ya da sadece kullandığın markayı değiştirmek istersin.<br />
            Bazen taşınırsın ve su bayisi bulmak beklediğinden zor olur.<br />
        </p>
        <br />
        <p class="font-400 fs24 coloblue my-5">
            BiSU uygulamasına nasıl kayıt olabilirim?
        </p>
        <br />
        <p class="font-400 fs18 color333">
            Uygulamayı telefonuna indirmen ve GSM numaranı girmen yeterli. Sonrasında uygulamayı kullanmaya başlayabilirsin.
        </p>
        <br />
        <p class="font-400 fs24 coloblue my-5">
            Üyelik ücretli mi?
        </p>
        <br />
        <p class="font-400 fs18 color333">
            Tabi ki hayır. Uygulamayı ücretsiz olarak indirebilirsin. BİSU, su siparişi hizmetinden hiçbir ek bedel ya da komisyon almaz.
        </p>
        <br />
        <p class="font-400 fs24 coloblue my-5">
            Nasıl sipariş verebilirim?
        </p>
        <br />
        <p class="font-400 fs18 color333">
            Uygulamayı açtıktan sonra konum izni verdiğin takdirde ilçe ve semt bilgilerin otomatik olarak görünecektir. Sonrasında bölgendeki bütün su markaları ve fiyatlarını görebilir, iletişim bilgilerini girerek dilediğin ürünü seçip siparişini verebilirsin.
        </p>
        <br />
        <p class="font-400 fs24 coloblue my-5">
            Uygulamadaki su fiyatları, kendi abonelik fiyatımdan farklı, neden?
        </p>
        <br />
        <p class="font-400 fs18 color333">
            Uygulamada belirtilen su fiyatları markalar tarafından tavsiye edilen satış fiyatları olup, fiyatlar bölge ve bayii bazında değişiklik gösterebilir. Sipariş verdiğinizde, suyunuzu kendi bölgenizdeki bayii fiyatından satın almış olursun. Yeniden hatırlatalım, BiSU üzerinden verdiğiniz siparişler için herhangi bir komisyon veya ek bedel ödemezsin.
        </p>
        <br />
        <p class="font-400 fs18 color333">
            Evet. Uygulama, bölgene hizmet veren tüm su markalarını gösterir.
        </p>
        <br />
        <p class="font-400 fs24 coloblue my-5">
            Sadece damacana siparişi mi verebilirim?
        </p>
        <br />
        <p class="font-400 fs18 color333">
            Hayır. BiSU, markaların satışa çıkan tüm cam, damacana ve pet su seçeneklerini size sunar.
        </p>
        <br />
        <p class="font-400 fs24 coloblue my-5">
            Çevremdeki en uygun su fiyatlarına erişebilir miyim?
        </p>
        <br />
        <p class="font-400 fs18 color333">
            Kesinlikle. BiSU sayesinde bölgendeki bütün markaların fiyatlarına kolayca erişebilir ve kendin için en uygun olanı seçebilirsin.
        </p>
        <br />
        <p class="font-400 fs24 coloblue my-5">
            BiSU hangi şehirlerde kullanılabilir?
        </p>
        <br />
        <p class="font-400 fs18 color333">
            Şimdilik sadece İstanbul, Ankara, İzmir, Bursa, Adana, Afyonkarahisar, Antalya, Aydın, Balıkesir, Bartın, Bolu, Burdur, Çanakkale, Denizli, Düzce, Edirne, Eskişehir, Gaziantep, Isparta, Karabük, Kastamonu, Kayseri, Kırklareli, Kocaeli, Konya, Kütahya, Manisa, Mersin, Muğla, Sakarya, Samsun, Şanlıurfa, Tekirdağ ve Zonguldak’tayız.
        </p>
        <br />
        <p class="font-400 fs24 coloblue my-5">
            Uygulamayı hangi cihazlarda kullanabilirim?
        </p>
        <br />
        <p class="font-400 fs18 color333">
            BiSU, iOS ve Android işletim sistemli cihazlara yüklenebilir. Yani ; iPhone 4S serisi ve üstü modellerde, tüm iPad modellerinde, Android 2.2 ve tabletlerde rahatlıkla BiSU'yu kullanabilirsin.
        </p>
        <br />
        <p class="font-400 fs24 coloblue my-5">
            Hangi yollardan ödeme yapabilirim?
        </p>
        <br />
        <p class="font-400 fs18 color333">
            <span class="kalin">Kapıda ödeme dışında</span><span class="kalin">kredi kartı, BKM Express, Hopi Paracık</span>, ve<span class="kalin">Multipay</span>  ile de ödeyebilirsin. Mobil ödeme anlaşmalı markalarda geçerlidir.
        </p>
        <br />
        <p class="font-400 fs24 coloblue my-5">
            Kişisel bilgilerim güvende mi?
        </p>
        <br />
        <p class="font-400 fs18 color333">
            Evet, kişisel bilgilerinizi güvende tutuyoruz. Bunu sağlayabilmek için güvenlik prosedürleri üzerinde büyük bir titizlikle çalışıyoruz.
        </p>
        <br />
        <p class="font-400 fs24 coloblue my-5">
            Kişisel verilerin korunması kapsamında gerekli önlemler alınıyor mu?
        </p>
        <br />
        <p class="font-400 fs18 color333">
            BiSU 6698 sayılı Kişisel Verilerin Korunması Kanunu Kapsamında gerekli tüm önlemleri almakta ve gelişen teknolojiler kapsamında sistemini sürekli güncellemektedir.
        </p>
        <br />
        <p class="font-400 fs24 coloblue my-5">
            Özel nitelikli kişisel verilerim BiSU tarafından işleniyor mu?
        </p>
        <br />
        <p class="font-400 fs18 color333">
            BiSU ilgili kanun kapsamında olan kişilerin ırkı, etnik kökeni, siyasi düşüncesi, felsefi inancı, dini, mezhebi veya diğer inançları, kılık ve kıyafeti, dernek, vakıf ya da sendika üyeliği, sağlığı, cinsel hayatı, ceza mahkumiyeti ve güvenlik tedbirleri ile ilgili verileri ile biyometrik ve genetik verileri özel nitelikli kişisel veri sayarak bunlarla ilgili hiçbir bilgi ve veri işleme işlemi yapmamaktadır.
        </p>
        <br />
        <p class="font-400 fs24 coloblue my-5">
            Kişisel verilerin korunması kapsamında bilgi almak istediğimde ne yapmalıyım?
        </p>
        <br />
        <p class="font-400 fs18 color333">
            Kişisel verilerin korunması kapsamında bilgi talep etmeniz durumunda destek@bisu.com.tr mail adresine mail ile ya da Koşuyolu Mh. Mahmut Yesari Cad. No:8 34718 Kadıköy/İstanbul adresimize yazılı olarak başvurabilirsiniz. Başvurunuzun tarafımıza ulaşması durumunda gerekli incelemeler yapılarak yapılan başvuru yöntemine göre 30 gün içinde gerekli bilgi tarafınıza verilmektedir.
        </p>
        <br />
    </div>


</div>
